{
    "name": "{{ agave.username }}-{{ app.name }}",
    "version": "{{ app.version }}",
    "executionSystem": "hpc-tacc-maverick",
    "executionType": "HPC",
    "parallelism": "SERIAL",
    "deploymentPath": "{{ agave.username }}/apps/{{ app.name }}-{{ app.version }}",
    "deploymentSystem": "data-sd2e-projects-users",
    "defaultProcessorsPerNode": 1,
    "defaultNodeCount": 1,
    "defaultQueue": "normal",
    "label": "Pyquant",
    "tags": ["pyquant", "docker://index.docker.io/sd2e/lcms-pyquant-0.1.1:latest"],
    "modules": ["load tacc-singularity/2.3.1"],
    "shortDescription": "Processing of mass spec files",
    "templatePath": "runner-template.sh",
    "testPath":"tester.sh",
    "inputs": [
    {
        "id": "search_file",
        "value": {
            "default": "agave://data-sd2e-community/archive/ingest/Q0/sd2.ginkgo.upload/protease/proteomics/exp3978/exp3978-2-ds1266896.msf",
            "required": true,
            "visible": true
        },
        "details": {
            "description": "MSF search file exported from Proteome Discoverer",
            "showArgument": false
        }
    },
    {
        "id": "scan_file",
        "value": {
            "default": "agave://data-sd2e-community/archive/ingest/Q0/sd2.ginkgo.upload/protease/proteomics/exp3978/exp3978-2-ds1266896.mzML",
            "required": true,
            "visible": true
        },
        "details": {
            "description": "mzml scan file",
            "showArgument": false
        }
   }
   ],
   "parameters": [
    {
        "id": "output",
        "value": {
            "order": 1,
            "required": true,
            "type": "string",
            "visible": true,
            "default": "output-exp3978.tsv"
        },
        "semantics": {
            "ontology": [
                "xs:string"
            ]
        },
        "details": {
            "description": "Output directory name",
            "showArgument": false,
            "argument": "-o "
        }
  },
  {
        "id": "label_method",
        "value": {
            "order": 1,
            "required": false,
            "type": "string",
            "visible": true,
            "default": "TMT10"
        },
        "semantics": {
            "ontology": [
                "xs:string"
            ]
        },
        "details": {
            "description": "Type of labeling scheme used",
            "showArgument": false,
            "argument": "--label-method "
        }
  },
  {
        "id": "isobaric_tags",
        "value": {
            "order": 1,
            "required": false,
            "type": "bool",
            "visible": true,
            "default": true
        },
        "semantics": {
            "ontology": [
                "xs:string"
            ]
        },
        "details": {
            "description": "Set some parameters if you are using isobaric tags",
            "showArgument": true,
            "argument": "--isobaric-tags "
        }
  },
  {
        "id": "html_output",
        "value": {
            "order": 1,
            "required": false,
            "type": "bool",
            "visible": true,
            "default": true
        },
        "semantics": {
            "ontology": [
                "xs:string"
            ]
        },
        "details": {
            "description": "Output an interactive html",
            "showArgument": true,
            "argument": "--html "
        }
  }
  ],
    "outputs": []
}
